/*
* style.css
* Styling for common elements
* slideDeck.js
* Miles Thorogood
* 2016
*
*/


@charset "UTF-8";
body {
	font:  16px sans-serif;		
	font-weight: 100;
    line-height: 1.5;
	background-color: #404040;
	margin: 0;
	padding: 0;
	color: #FFF;
}

/* ~~ Element/tag selectors ~~ */
ul, ol, dl { /* Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 10px;	 /* removing the top margin gets around an issue where margins can escape from their containing div. The remaining bottom margin will hold it away from any elements that follow. */
	padding-right: 15px;
	padding-left: 15px; /* adding the padding to the sides of the elements within the divs, instead of the divs themselves, gets rid of any box model math. A nested div with side padding can also be used as an alternate method. */
	font-weight: 100;
}
h1, h2, h3, h4, h5, h6 {
	line-height: 2;
	/*font-family: monospace;*/
}
hr{
	width:50%;
	color:#AAA;
}
a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
}

header {
	/*font-family: monospace;*/
}
/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */
a:link {
	color:#FFF;
	text-decoration: none; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}
a:visited {
	text-decoration: none;
}
a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: none;
}

/* ~~ this container surrounds all other divs giving them their percentage-based width ~~ */
#container {
	width: 90%;
	max-width: 1260px;/* a max-width may be desirable to keep this layout from getting too wide on a large monitor. This keeps line length more readable. IE6 does not respect this declaration. */
	/*background-color: #FFF;*/
	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout. It is not needed if you set the .container's width to 100%. */
	border-right:thin #AAA;
}

@media only screen and (min-width: 768px) {
    
    #container {
        min-width: 80px;
    	width: 90%;/* a min-width may be desirable to keep this layout from getting too narrow. This keeps line length more readable in the side columns. IE6 does not respect this declaration. */
    }
}

/* ~~ This is the layout information. ~~ 

1) Padding is only placed on the top and/or bottom of the div. The elements within this div have padding on their sides. This saves you from any "box model math". Keep in mind, if you add any side padding or border to the div itself, it will be added to the width you define to create the *total* width. You may also choose to remove the padding on the element in the div and place a second div within it with no width and the padding necessary for your design.

*/
#content {
	padding: 10px 0;
	clear:both;
}

/* ~~ miscellaneous float/clear classes ~~ */
.fltrt {  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the overflow:hidden on the .container is removed */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}

.publication {
	margin-top: 30px ;
	padding-right: 15px;
	padding-left: 15px; /* adding the padding to the sides of the elements within the divs, instead of the divs themselves, gets rid of any box model math. A nested div with side padding can also be used as an alternate method. */
	font-weight: 100;
}
footer {
	width:100% ;
	clear:both; /* Using clear moves the div down below the floated */
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
	float:left;
}

footer #logo {
    padding-left: 10px;
    padding-right: 140px;
    display: inline-block;
}
footer #logo img {
	height:50px ;
}


